*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'PT Sans', sans-serif;
  line-height: 1.7;
  color: #fff;
  padding: 2rem;
  box-sizing: border-box; }

.heading-primary--main {
  text-align: center;
  display: block;
  color: #fff;
  font-size: 6rem;
  letter-spacing: 2.5rem; }

.heading-primary--sub {
  color: #fff;
  font-size: 4rem;
  display: block;
  letter-spacing: 1.5rem; }

.header {
  height: 95vh;
  background-color: #32619f;
  margin: 0 auto; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

footer {
  height: 400px;
  width: 100%;
  background-color: #000;
  color: #fff; }
  footer .footer-container {
    text-align: center;
    position: relative;
    top: 20%; }
  footer .footer-container-2 {
    text-align: center;
    position: relative;
    top: 30%; }
    footer .footer-container-2 .lit {
      color: #636363;
      transition: all 1s; }
    footer .footer-container-2 .lit:hover {
      color: #b00000;
      font-weight: 900; }
    footer .footer-container-2 .footer_social_icons {
      margin-top: 50px;
      z-index: 9999;
      position: relative; }
      footer .footer-container-2 .footer_social_icons .social-wrapper {
        position: relative;
        z-index: 999; }
      footer .footer-container-2 .footer_social_icons a {
        color: #636363;
        margin: 0 30px;
        transition: all 1s ease;
        position: relative;
        text-decoration: none; }
      footer .footer-container-2 .footer_social_icons a:hover {
        color: #fff; }
      footer .footer-container-2 .footer_social_icons a:before {
        content: '';
        border-radius: 100%;
        height: 100px;
        width: 100px;
        position: absolute;
        transform: translate(-20%, -20%);
        z-index: -1;
        opacity: 0;
        transition: all 1s ease; }
      footer .footer-container-2 .footer_social_icons a.facebook:before {
        background-color: #3b5998; }
      footer .footer-container-2 .footer_social_icons a.twitter:before {
        background-color: #0084b4; }
      footer .footer-container-2 .footer_social_icons a.linkedin:before {
        background-color: #0077b5; }
      footer .footer-container-2 .footer_social_icons a.github:before {
        background-color: #6e5494; }
      footer .footer-container-2 .footer_social_icons a.instagram:before {
        background-color: #fbad50; }
      footer .footer-container-2 .footer_social_icons a:hover:before {
        content: '';
        height: 63px;
        width: 63px;
        opacity: 1;
        transform: translate(-15%, -10%); }

.hamburger {
  padding: 5px;
  border: 2px solid #fff;
  margin-right: 60px;
  margin-top: -2px; }

.hamburger > div {
  height: 3px;
  width: 50px;
  background-color: #fff;
  margin-bottom: 10px;
  margin-bottom: 8px;
  margin-top: 8px; }

.navbar {
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  height: 80px;
  border-bottom: 1px solid #fff;
  position: fixed;
  width: 100%;
  transition: 0.5s;
  z-index: 999; }

.navbar a {
  float: right;
  display: inline;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.5s; }

.navbar-nav {
  max-width: 1170px;
  margin: 0 auto; }

li.logo {
  display: flex;
  justify-content: flex-start;
  font-size: 1.5rem;
  margin-left: 75px;
  color: #fff;
  transition: 0.5s; }

.navbar ul .nav-left {
  margin: 25px 0 0 0;
  list-style: none;
  display: flex;
  justify-content: flex-start; }

.navbar ul .nav-right {
  margin: -40px 75px 0 0;
  list-style: none;
  display: flex;
  justify-content: flex-end; }

.navbar a:hover {
  color: #777777; }

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s; }

.side-nav a {
  padding: 20px 0 20px 0;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  text-align: center;
  transition: 0.3s; }

.side-nav a:hover {
  color: #fff; }

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px; }

#main {
  transition: margin-left 0.5s;
  padding: 20px;
  overflow: hidden;
  width: 100%; }

@media (max-width: 900px) {
  .navbar ul .nav-right {
    display: none; } }

@media (min-width: 900px) {
  .open-slide {
    display: none; } }

@media (max-width: 576px) {
  li.logo {
    margin-left: 40px !important; }
  .hamburger {
    margin-right: 25px; } }

@media (max-width: 370px) {
  li.logo {
    margin-left: 10px !important;
    font-size: 1rem; }
  .hamburger {
    margin-right: 5px; } }

.section-main {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url("../img/fullscreen_image.JPG");
  background-position: center;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'main main2'; }
  .section-main .main-content {
    grid-area: main; }
  .section-main h1.main-heading {
    color: #fff;
    font-size: 5rem;
    text-align: center;
    top: 40%;
    transform: translateY(-50%);
    position: relative; }
  .section-main .profession {
    color: #fff;
    top: 40%;
    position: relative;
    text-align: center;
    transition: all 1s; }
  .section-main #faded::before,
  .section-main #faded::after {
    content: '';
    display: inline-block;
    width: 20%;
    border-bottom: 1px solid #fff;
    margin: 0 0.5em 0 -55%;
    vertical-align: middle;
    border-bottom: 1px solid; }
  .section-main #faded::after {
    margin: 0 -55% 0 0.5em; }
  .section-main #faded {
    transition: all 1s; }
  .section-main .social_icons {
    grid-area: main;
    top: 45%;
    position: relative;
    text-align: center; }
  .section-main .social_icons li {
    display: inline; }
  .section-main .social_icons li .icon-outer {
    height: 55px;
    width: 55px; }
