*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'PT Sans', sans-serif;
  line-height: 1.7;
  color: #fff;
  padding: 2rem;
  box-sizing: border-box; }

.heading-primary--main {
  text-align: center;
  display: block;
  color: #fff;
  font-size: 6rem;
  letter-spacing: 2.5rem; }

.heading-primary--sub {
  color: #fff;
  font-size: 4rem;
  display: block;
  letter-spacing: 1.5rem; }

.header {
  height: 95vh;
  background-color: #32619f;
  margin: 0 auto; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-main {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url("../img/fullscreen_image.JPG");
  background-position: center;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'main main2'; }
  .section-main .main-content {
    grid-area: main; }
  .section-main h1.main-heading {
    color: #fff;
    font-size: 5rem;
    text-align: center;
    top: 40%;
    transform: translateY(-50%);
    position: relative; }
  .section-main .profession {
    color: #fff;
    top: 40%;
    position: relative;
    text-align: center;
    transition: all 1s; }
  .section-main #faded::before,
  .section-main #faded::after {
    content: '';
    display: inline-block;
    width: 20%;
    border-bottom: 1px solid #fff;
    margin: 0 0.5em 0 -55%;
    vertical-align: middle;
    border-bottom: 1px solid; }
  .section-main #faded::after {
    margin: 0 -55% 0 0.5em; }
  .section-main #faded {
    transition: all 1s; }
  .section-main .social_icons {
    grid-area: main;
    top: 45%;
    position: relative;
    text-align: center; }
  .section-main .social_icons li {
    display: inline; }
  .section-main .social_icons li .icon-outer {
    height: 55px;
    width: 55px; }
